.resume {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.resume>div {
    width: 100%;
    min-height: 100vh;
}

.resume>.downloadBtn {
    cursor: pointer !important;
}

.resume>div>a>.resumeImg {
    width: 100%;
    min-height: 100vh;
    background-image: url(../../img/resume.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.resume>.downloadBtn>button {
    margin-top: 50px;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: aquamarine;
    color: black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer !important;
}

@media only screen and (max-width: 600px) {
    .resume {
        width: 100%;
        min-height: 50vh;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .resume>div {
        width: 100%;
        min-height: 50vh;
    }


    .resume>div>a>.resumeImg {
        width: 90%;
        min-height: 70vh;
        margin-left: 20px;
    }
}